@charset "UTF-8";
/* ****************** font ********************** */
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');} @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body, table, th, td, button, select, input, textarea {
	font-family: 'Noto Sans KR', sans-serif;
	font-size:13px;
	color:#666;
	-webkit-text-size-adjust:none;
}
body { background-color:#fff; }
#wrap {overflow:hidden; width:100%; min-width:320px; position:relative; }
.area{ max-width:1300px; margin:0px auto;}
.area-box { max-width:1600px; margin:0px auto; }
.font-play {font-family: 'Noto Sans KR', sans-serif;}
.font-noto {font-family:  'Noto Sans KR', sans-serif;}

/* ****************** HEADER ********************** */
#header{
	position:relative; /* position:absolute; */ height:110px; top:0; left:0; width:100%; z-index:9999; 
	-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s
}	/* 배경위에 헤더가있으면 absolute변경 후 headerInnerWrap 배경삭제 */
.fullpage-wrapper #header{
	position:fixed;
}
#headerInnerWrap{
	position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:9999; background-color:#fff; 
	-webkit-transition:background-color 0.3s;
	-moz-transition:background-color 0.3s;
	-o-transition:background-color 0.3s;
	-ms-transition:background-color 0.3s;
	transition:background-color 0.3s
}
#headerInner{
	position:relative; height:100%; margin:0px auto; padding:0 86px;  
	-webkit-transition:padding 0.3s;
	-moz-transition:padding 0.3s;
	-o-transition:padding 0.3s;
	-ms-transition:padding 0.3s;
	transition:padding 0.3s
}
#header .logo{position:relative; z-index:100; float:left; padding:41.5px 0; }
#header .logo a{display:block; }
#header .logo img{display:block; vertical-align:top;}



/* -------- Header :: UTIL BOX -------- */
.header-util-box{position:absolute; height:30px; top:50%; right:86px; margin-top:-15px; z-index:100;}

/* Header :: contact */
.header-contact {float:left; height:100%;}
.header-contact .header-contact-btn {font-size:13px; line-height: 30px;  font-weight:700; color: #060606; padding:0 10px;}


/* Header :: 언어선택 */
.header-log {position:relative; float:left; height:100%; z-index:100; margin:0 35px 0 20px; }
.header-log .login-open-btn {overflow:hidden; position:relative; display:block; height:100%; padding:0 10px; font-size:13px; line-height: 30px; color:#060606; font-weight:600; }
.header-log .login-open-btn i {display:inline-block; margin-right: 9px; vertical-align: middle; font-size:18px; margin-top:-2px; }
.header-log .login-open-btn .arrow{position:absolute; top:0px; right:0px;}
.header-log .login-open-btn .arrow i{font-size:16px;}
.header-log > ul {display:none; position:absolute; top:30px; left:-1px; z-index:10; width:100%; border:1px solid #5c5c5c; background-color:#fff;}
.header-log > ul > li > a{display:block; padding:0 10px; font-size:10px; line-height: 30px; color:#333;}
.header-log > ul > li > a:hover{background-color:#f2f2f2; }
.header-log.open .login-open-btn .arrow i{transform:rotate(180deg); margin-top:-3px;}


/* Header :: 사이트맵(기본형 or 커스텀) */
.sitemap-line-btn{position:absolute; top:0px; right:86px; width:30px; height:30px; top:40px;/* z-index:100000; */ z-index:1111;
	-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s
}
.sitemap-line-btn.sitemap-close-btn{position:absolute;  }
.sitemap-line-btn .line{
	display:block; position:relative; z-index:1; width:18px; height:2px; background-color:#333; margin: 3px auto;
	-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s;
}
.sitemap-line-btn.active span{border-radius:3px;}
.sitemap-line-btn.active span:nth-child(1) {
	 -webkit-transform: translateY(5px) rotate(45deg);
	  -ms-transform: translateY(5px) rotate(45deg);
	  -o-transform: translateY(5px) rotate(45deg);
	  transform: translateY(5px) rotate(45deg);
}
.sitemap-line-btn.active span:nth-child(2) {
  opacity: 0;
}
.sitemap-line-btn.active span:nth-child(3) {
	 -webkit-transform: translateY(-5px) rotate(-45deg);
	  -ms-transform: translateY(-5px) rotate(-45deg);
	  -o-transform: translateY(-5px) rotate(-45deg);
	  transform: translateY(-5px) rotate(-45deg);
}
/* -------- Header :: GNB(PC) -------- */
.gnb-overlay-bg{display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:9997;}	/* gnb overlay BG */
#gnb{position:absolute; text-align:center; top:0; left:0px; width:100%; z-index:99;}
#gnb > ul{display:inline-block; *display:inline;*zoom:1;}
#gnb > ul > li{position:relative; float:left; word-break:keep-all; width:166px; }
#gnb > ul > li > a{
	position:relative; z-index:100; display:table; width:100%; height:110px; line-height:1.3; text-align:center; color:#060606;  font-size:18px; letter-spacing:-0.55px; font-weight:500; -webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s; -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	 box-sizing: border-box; 
}
#gnb > ul > li > a span {display:table-cell; vertical-align:middle; }
#gnb > ul > li > a:hover, #gnb > ul > li.on > a{color:#fff; background-color: #002060;}

/* GNB :: 2차 전체메뉴 */
#gnbBg{
	overflow:hidden; position:absolute; left:0; top:0px; width:100%; height:0; background:#fff; z-index:98;
	-webkit-transition:height 0.3s ease-in-out;
	-moz-transition:height 0.3s ease-in-out;
	-ms-transition:height 0.3s ease-in-out;
	-o-transition:height 0.3s ease-in-out;
	transition:height 0.3s ease-in-out
}
#gnbBg:after{position:absolute; top:110px; width:100%; left:0; height:1px; background-color:#ddd; content:"";}
#gnb.total-menu > ul > li .gnb-2dep{
	position:absolute; 
	top:110px; 
	left:0px; 
	z-index:99;
	width:100%; 
	text-align:center; 
	opacity:0;filter:Alpha(opacity=0);
	height:0;
	-webkit-transition: all 0.3s 0s;
    -moz-transition: all 0.3s 0s;
    -ms-transition: all 0.3s 0s;
    -o-transition: all 0.3s 0s;
    transition: all 0.3s 0s;
	visibility:hidden;
}
#gnb.total-menu > ul > li .gnb-2dep:before {
	content:""; position:absolute; left:0; top:0px; width:0; left:50%;  height:3px; background-color:#fff; 
	-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s; z-index:10;
}
#gnb.total-menu > ul > li .gnb-2dep:after {content:""; position:absolute; width:100%; height: 100%; left:0; top:0; background-color:#002060; opacity:0;filter:Alpha(opacity=0); z-index:-1; -webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s; }
#gnb.total-menu > ul > li:hover .gnb-2dep:before {width:105px;  margin-left:-52.5px;}
#gnb.total-menu > ul > li:hover .gnb-2dep:after {opacity:1;filter:Alpha(opacity=100);}
#gnb.total-menu > ul > li .gnb-2dep ul{padding:20px 0px;}
#gnb.total-menu > ul > li .gnb-2dep ul li{position:relative;}
#gnb.total-menu > ul > li .gnb-2dep ul li a{ display:block;  padding:7px 15px; color:#666; font-size:15px; letter-spacing:-0.5px; font-weight:300; line-height:1.3; -webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;-ms-transition:all 0.2s;transition:all 0.2s}
#gnb.total-menu > ul > li.on .gnb-2dep ul li a, #gnb.total-menu > ul > li:hover .gnb-2dep ul li a  {color: #8f9dba;}
#gnb.total-menu > ul > li .gnb-2dep ul li a:hover{color:#fff;}

/* GNB :: 2차메뉴 Over (높이변경) */
#gnb.open #gnbBg{height:325px;}
#gnb.open > ul > li .gnb-2dep{
	height:215px; opacity:1.0;filter:Alpha(opacity=100);
	visibility:visible;
	-webkit-transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out 0.2s;
    -moz-transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out 0.2s;
    -ms-transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out 0.2s;
    -o-transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out 0.2s;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out 0.2s;
}

/* GNB :: 2차 각각메뉴 */
#gnb.each-menu > ul > li .gnb-2dep{
	/* display:none; */
	position:absolute; 
	top:100px; 
	left:0px; 
	z-index:99;
	width:100%; 
	text-align:left; 
	visibility:hidden;
	opacity:0;filter:Alpha(opacity=0);
}
#gnb.each-menu > ul > li .gnb-2dep:before{
	content:""; position:absolute; top:-20px; left:0px; right:0px; height:0; opacity:0;filter:Alpha(opacity=0); background-color:#f57f20; 
	-webkit-transition:all 0.4s;-moz-transition:all 0.4s;-o-transition:all 0.4s;-ms-transition:all 0.4s;transition:all 0.4s
}
#gnb.each-menu > ul > li .gnb-2dep ul{padding:0px 0px 15px 0;}
#gnb.each-menu > ul > li .gnb-2dep ul li{position:relative; padding:8px 10px; opacity:0;filter:Alpha(opacity=0);-webkit-transition:all 0s 0s;-moz-transition:all  0s 0s;-o-transition:all  0s 0s;-ms-transition:all  0s 0s;transition:all  0s 0s; }
#gnb.each-menu > ul > li .gnb-2dep ul li a{ display:block; color:#fff; font-size:14px; font-weight:400; text-align:center; line-height:1.3; opacity:0.9;filter:Alpha(opacity=90);}
#gnb.each-menu > ul > li .gnb-2dep ul li a:hover{opacity:1.0;filter:Alpha(opacity=100);}
/* over했을때 */
#gnb.each-menu > ul > li:hover .gnb-2dep:before{height:calc(100% + 20px); opacity:1.0;filter:Alpha(opacity=100);}
#gnb.each-menu > ul > li .gnb-2dep.open{visibility:visible; opacity:1.0;filter:Alpha(opacity=100);}
#gnb > ul > li .gnb-2dep.open ul li{opacity:1.0;filter:Alpha(opacity=100); -webkit-transition:all 0.8s;-moz-transition:all 0.8s;-o-transition:all 0.8s;-ms-transition:all 0.8s;transition:all 0.8s;}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(1){-webkit-transition-delay: 0.1s;-moz-transition-delay: 0.1s;-o-transition-delay: 0.1s;-ms-transition-delay: 0.1s;transition-delay:0.1s;}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(2){-webkit-transition-delay: 0.2s;-moz-transition-delay: 0.2s;-o-transition-delay: 0.2s;-ms-transition-delay: 0.2s;transition-delay:0.2s;}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(3){-webkit-transition-delay: 0.3s;-moz-transition-delay: 0.3s;-o-transition-delay: 0.3s;-ms-transition-delay: 0.3s;transition-delay:0.3s;}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(4){-webkit-transition-delay: 0.4s;-moz-transition-delay: 0.4s;-o-transition-delay: 0.4s;-ms-transition-delay: 0.4s;transition-delay:0.4s;}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(5){-webkit-transition-delay: 0.5s;-moz-transition-delay: 0.5s;-o-transition-delay: 0.5s;-ms-transition-delay: 0.4s;transition-delay:0.5s;}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(6){-webkit-transition-delay: 0.6s;-moz-transition-delay: 0.6s;-o-transition-delay: 0.6s;-ms-transition-delay: 0.4s;transition-delay:0.6s;}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(7){-webkit-transition-delay: 0.7s;-moz-transition-delay: 0.7s;-o-transition-delay: 0.7s;-ms-transition-delay: 0.4s;transition-delay:0.7s;}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(8){-webkit-transition-delay: 0.8s;-moz-transition-delay: 0.8s;-o-transition-delay: 0.8s;-ms-transition-delay: 0.4s;transition-delay:0.8s;}



/* ****************** FOOTER ********************** */
/* -------- FOOTER :: 레이아웃 -------- */
#mainFooter {overflow:visible; }
#footer{background-color:#f3f3f3; padding:20px 0 60px; border-top:1px solid #ddd; font-family: 'Noto Sans KR', sans-serif;}
#footerInner{position:relative; padding:0 85px;}
.footer-left-con {float:left; width:158px; }
.footer-right-con{float:left;}

/* -------- FOOTER :: 상단 -------- */
#footerTop{position:relative; padding:30px 0 20px; }
/* Footer :: TOP버튼 */
.to-top-btn{
	position:fixed; bottom:-100px; right:15px; display:block; width:46px; height:46px; background-color:#003160; text-align:center; line-height:46px; color:#fff; z-index:99;
	opacity:0;filter:Alpha(opacity=0);
	-webkit-transition:all 0.6s;-moz-transition:all 0.6s;-o-transition:all 0.6s;-ms-transition:all 0.6s;transition:all 0.6s
	/* -webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;border-radius:50%; */
}
.to-top-btn.fixed{bottom:15px; opacity:1.0;filter:Alpha(opacity=100);}

/* Footer :: 푸터로고 */
.foot-logo{display:block; float:left; padding-right: 20px;  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
 box-sizing: border-box;  }

/* Footer :: 푸터메뉴 */
.foot-menu{float:left; }
.foot-menu li{float:left; position:relative; padding-left:40px; line-height:35px;}
.foot-menu li:before{position:absolute; top:50%; left:18px; width:1px; height:10px; margin-top:-5px; background-color:#ddd;  content:"";} /* line 형태 */ 
.foot-menu li:first-child{padding-left:0}
.foot-menu li:first-child:before{display:none} 
.foot-menu li a{color:#252525; font-size:15.5px; font-weight:500;}

/* -------- FOOTER :: 하단 -------- */
#footerBottom {position:relative;}
#footerBottom .footer-left-con {height:1px;}

.footer-right-con .foot-logo{text-align:right;}
/* Footer :: 왼쪽정보 */
.footer-address{margin-bottom:15px; letter-spacing:-0.5px;}
.footer-address .footer-address-txt{color:rgba(37,37,37,0.55); font-size:14px; line-height:1.5em; margin:8px -8px 0; font-weight:500;}
.footer-address p{display:inline-block; vertical-align:middle; position:relative; margin:0 8px;}
.footer-address p:before{position:absolute; top:50%; left:-8px; width:1px; height:10px; margin-top:-5px; background-color:#ccc; content:"";}
.footer-address p.footer-contact {font-weight:600; letter-spacing:0px; }
.footer-address p.footer-contact:before {content:"/"; background:none; line-height: 1.5em; margin-top:0; top:0; left:-13px; }
.footer-address p:first-child:before{display:none;}
.footer-address p.footer-contact.first:before {display:none;}
.footer-address a{color:inherit}
.footer-address span {display:block; margin:8px 8px 0;}
.footer-address .m-block {display:none;}
/* Footer :: Copyright */
.footer-copyright{font-size:13px; letter-spacing:-0.5px; color:rgba(37,37,37,0.55);}

/* Footer :: 오른쪽정보 :: 패밀리사이트 */
.footer-family-con {position:absolute; top:0; right:0; }
.family-site-box{width:166px; text-align:left; letter-spacing:-0.25px;}
.family-site-box .family-site-open-btn{display:block; height:35px; line-height:35px; font-size:13px; border-bottom:2px solid #737373; color:#252525; font-weight:600;}
.family-site-box .family-site-open-btn i{position:absolute; font-size:16px; right:0; top:50%; margin-top:-8px;}
.family-site-box.open .family-site-open-btn i{transform:rotate(180deg);}
.family-site-list{position:absolute; bottom:35px; left:0px; width:100%;  padding:10px 0; background-color:#fff; border:1px solid #ddd; border-bottom:0;  z-index:11; display:none; box-sizing:border-box;}
.family-site-list a{display:block; padding:10px; color:#333; font-size:12px;}
.family-site-list a:hover{color:#000; text-decoration:underline;}
.footer-family-con .footer-copyright {display:none;}

/* ****************** SUB LAYOUT ********************** */
/*  SUB LAYOUT :: 비주얼 */
#visual{position:relative; overflow:hidden; width:100%; height:452px; }
#visual.main_visual {position:relative; overflow:hidden; width:100%; height:calc(100vh - 112px); }
#visual .visual-img-con{
	position:absolute; 
	top:0px; 
	left:0px; 
	width:100%;
	height:100%;
	background-size:cover !important;
	-ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1); 
    -moz-transform: scale(1.1,1.1); 
    -webkit-transform: scale(1.1,1.1); 
     transform: scale(1.1,1.1);
	-webkit-transition:transform 5000ms  ease-in-out ;
	-moz-transition:transform 5000ms ease-in-out ;
	-o-transition:transform 5000ms ease-in-out ;
	-ms-transition:transform 5000ms ease-in-out ;
    transition:transform 5000ms ease-in-out ;	
}
#visual .visual-txt-con{position:relative; z-index:1; text-align:center; display:table; width:100%; height:100%; }
#visual .visual-txt-container{position:relative; width:100%;padding: 0 30px;}
#visual .visual-tit,
#visual .visual-sub-txt,
#visual .location{
	opacity:0;filter:Alpha(opacity=0);
	-ms-transform: translateY(-30px); 
    -o-transform: translateY(-30px); 
    -moz-transform: translateY(-30px);
    -webkit-transform: translateY(-30px); 
     transform: translateY(-30px);
	-webkit-transition:opacity 1.0s, transform 1.0s;
	-moz-transition:opacity 1.0s, transform 1.0s;
	-o-transition:opacity 1.0s, transform 1.0s;
	-ms-transition:opacity 1.0s, transform 1.0s;
	transition:opacity 1.0s, transform 1.0s;
}
#visual .visual-tit{
	font-weight:600; 
	font-size:60px; 
	color: #f0f0f0;
	letter-spacing:-2px;
	-webkit-transition-delay:0.3s;
	-moz-transition-delay:0.3s;
	-o-transition-delay:0.3s;
	-ms-transition-delay:0.3s;
	transition-delay:0.3s;
}
#visual .visual-sub-txt{
	font-size:14px; 
	font-weight:400; 
	padding-top:25px;
	letter-spacing:-0.25px;
	color:rgba(255,255,255,0.6);
	-webkit-transition-delay:0.5s;
	-moz-transition-delay:0.5s;
	-o-transition-delay:0.5s;
	-ms-transition-delay:0.5s;
	transition-delay:0.5s;
}

/* SUB LAYOUT :: 상단효과 active */
#visual.active .visual-img-con{
	-ms-transform: scale(1.0,1.0) rotate(0.002deg);
    -o-transform: scale(1.0,1.0) rotate(0.002deg);
    -moz-transform: scale(1.0,1.0) rotate(0.002deg);
    -webkit-transform: scale(1.0,1.0) rotate(0.002deg);
     transform: scale(1.0,1.0) rotate(0.002deg);
}
#visual.active .visual-tit,
#visual.active .visual-sub-txt,
#visual.active .location{
	opacity:1.0;filter:Alpha(opacity=100);
	-ms-transform: translateY(0px); 
    -o-transform: translateY(0px); 
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px); 
     transform: translateY(0px);
}





sub {display: inline-block; }

/* sub page */
.content {padding:80px 0 110px; word-break:keep-all;}
.content.overlay:before {content:"";width: 100vw;height: 100vh;background: rgba(0,0,0,0.7);position: absolute;z-index: 1;}
.container {max-width: 1300px;margin-left: auto;margin-right: auto;padding-left: 15px;padding-right: 15px;}





/* login&join style */
/* login */
.bk_login_form { padding: 40px 40px 60px; max-width:550px; margin:40px auto; border-radius:4px; border:1px solid #cacaca; }
.bk_login_form h3 {font-size:22px; padding:20px 0 30px; font-weight:bold;}
.bk_login_form a { text-decoration:none; -webkit-transition:.5s ease; transition:.5s ease; }
.bk_login_form a:hover { color:#ff4800; }
.bk_login_form .d_tit_tab a { font-weight: 600; }
.bk_login_form .d_tit_tab span { font-weight: 600; }
.bk_login_form .tab-group { list-style:none; padding:15px; margin:0 0 40px 0; }
.bk_login_form .tab-group:after { content:""; display:table; clear:both; }
.bk_login_form .tab-group li a { display:block; text-decoration:none; padding:15px; background:rgba(160,179,176,0.25); color:#121212; font-size:15px; font-weight:400; float:left; width:50%; text-align:center; cursor:pointer; -webkit-transition:.5s ease; transition:.5s ease; }
.bk_login_form .tab-group .d_active a { background:#121212; color:#fff; }

.bk_login_form .tab-content>div:last-child {display:none; }
.bk_login_form label {display: inline-block;pointer-events:none; font-size:13px; padding: 5px; margin-bottom: 5px;}
.bk_login_form label .req, .bk_login_form .warn {margin:2px; color:#ff4800; }
.bk_login_form input[type="text"],.bk_login_form input[type="password"] {padding: 10px;}
.bk_login_form input,.bk_login_form textarea {font-size:13px; display:block; width:100%; height:auto; padding:1em; background:none; background-image:none; border:1px solid #ddd; border-radius:0; -webkit-transition:border-color .25s ease,box-shadow .25s ease; transition:border-color .25s ease,box-shadow .25s ease; }
.bk_login_form input:focus,.bk_login_form textarea:focus { outline:0; border-color:#121212; }
.bk_login_form textarea { border:2px solid #121212; resize:vertical; }

.bk_login_form .field-wrap {position:relative; margin-bottom:30px; }
.bk_login_form .top-row:after {content:""; display:table; clear:both; }
.bk_login_form .top-row>div {float:left; width:48%; margin-right:4%; }
.bk_login_form .top-row>div:last-child { margin:0; }
.bk_login_form .d_button {margin: 5px 0; font-family: inherit; border:0; outline:none; border-radius:0; padding:15px 0; font-size: 15px; font-weight:600; text-transform:uppercase; letter-spacing:.1em; background: #636363; color: #fff; -webkit-transition:all 0.5s ease; transition:all 0.5s ease; -webkit-appearance:none; }
.bk_login_form .d_button_c1 {background: #777;color: #fff;}
.bk_login_form .d_button:hover,.bk_login_form .d_button:focus {background:#121212; color:#fff; }
.bk_login_form .button-block {display:block; width:100%; }
.bk_login_form .d_text {font-weight:300; margin:0 0 40px; font-size: 13px; text-align: center; line-height: 1.5; }
.bk_login_form .d_forgot {text-align:right;margin-bottom: 30px; font-size: 13px; }
.bk_login_form .d_forgot a {border-right: 1px solid #ddd;padding: 0 10px;}
.bk_login_form .d_forgot a:last-child {border:0;}

/* join */
.bk_join_form { padding: 40px 40px 60px; max-width:550px; margin:0px auto; border-radius:4px; border:1px solid #cacaca; }
.bk_join_form h3 {font-size:22px; padding:20px 0 30px; font-weight:bold;}
.bk_join_form a { text-decoration:none; -webkit-transition:.5s ease; transition:.5s ease; }
.bk_join_form a:hover { color:#ff4800; }
.bk_join_form .d_tit_tab a { font-weight: 600; }
.bk_join_form .d_tit_tab span { font-weight: 600; }
.bk_join_form .tab-group { list-style:none; padding:15px; margin:0 0 40px 0; }
.bk_join_form .tab-group:after { content:""; display:table; clear:both; }
.bk_join_form .tab-group li a { display:block; text-decoration:none; padding:15px; background:rgba(160,179,176,0.25); color:#121212; font-size:15px; font-weight:400; float:left; width:50%; text-align:center; cursor:pointer; -webkit-transition:.5s ease; transition:.5s ease; }
.bk_join_form .tab-group .d_active a { background:#121212; color:#fff; }

.bk_join_form .tab-content>div:last-child {display:none; }
.bk_join_form label {display: inline-block;pointer-events:none; font-size:13px; padding: 5px; margin-bottom: 5px;}
.bk_join_form label .req, .bk_join_form .warn {margin:2px; color:#ff4800; }
.bk_join_form input[type="text"],.bk_join_form input[type="password"] {padding: 10px;}
.bk_join_form input[type="button"] {padding: 10px;color: #fff;background: #888;font-size: 13px;transition: background 0.3s;cursor:pointer;}
.bk_join_form input[type="button"]:hover {background: #316bc1;}
.bk_join_form input,.bk_join_form textarea {font-size:13px; display:block; width:100%; height:auto; padding:1em; background:none; background-image:none; border:1px solid #ddd; border-radius:0; -webkit-transition:border-color .25s ease,box-shadow .25s ease; transition:border-color .25s ease,box-shadow .25s ease; }
.bk_join_form input:focus,.bk_join_form textarea:focus { outline:0; border-color:#121212; }
.bk_join_form textarea { border:2px solid #121212; resize:vertical; }

.bk_join_form .field-wrap {position:relative; margin-bottom:15px; }
.bk_join_form .top-row:after {content:""; display:table; clear:both; }
.bk_join_form .top-row>div {width: 98%;margin-left:1%;margin-right: 1%;float: none;}
.bk_join_form .top-row>div .d_half {display: inline-block; width:48%; }
.bk_join_form .top-row>div .d_half:first-child {margin-right: 2%;}
.bk_join_form .top-row>div .d_half:last-child {margin-left: 2%;}
.bk_join_form .top-row>div:last-child { margin:0; }
.bk_join_form .d_button {margin: 35px 0 5px; font-family: inherit; border:0; outline:none; border-radius:0; padding:15px 0; font-size: 15px; font-weight:600; text-transform:uppercase; letter-spacing:.1em; background: #636363; color: #fff; -webkit-transition:all 0.5s ease; transition:all 0.5s ease; -webkit-appearance:none; }
.bk_join_form .d_button_c1 {background: #777;color: #fff;}
.bk_join_form .d_button:hover,.bk_join_form .d_button:focus {background:#121212; color:#fff; }
.bk_join_form .button-block {display:block; width:100%; }
.bk_join_form .d_text {font-weight:300; margin:0 0 40px; font-size: 13px; text-align: center; line-height: 1.5; }
.bk_join_form .d_forgot {text-align:right;margin-bottom: 30px; font-size: 13px; }
.bk_join_form .d_forgot a {border-right: 1px solid #ddd;padding: 0 10px;}
.bk_join_form .d_forgot a:last-child {border:0;}
